footer {
    height: 46vh;
}
.selos-container {
    background-color: #155559;
    display: flex;
    align-items: center;
    padding: 5vw;
    
}

.endereco {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    padding: 2rem;
    font-weight: 400;
    line-height: 1.6875rem;
}

.redes-container {
    padding: 0 2rem;
    justify-content: space-between;
}

.insta {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.insta:hover, 
.linkedin:hover {
    color: #A4A929;
}

.linkedin {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    padding-left: 2.5rem;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.selo-logo img {
    max-width:20vw;
    max-height:15vh;
    width: auto;
    height: auto;
    margin-right: 38vw;
}

.selo-2 {
    padding: 4vw;
}

.selo-3 {
    position: relative;
    top: -0.8vw;
}

@media screen and (max-width: 768px) {
    .selos-container {
        width: 380%;
        height: 100%;
        padding: 2.5rem;
    }

    .endereco {
        font-size: 2rem;
        line-height: 2.5rem;
        width: 70%;
    }

    .insta,
    .linkedin {
        font-size: 2rem;
    }

    .selo-logo img {
        max-width: 80vw;
        max-height: 68vh;
        width: auto;
        height: auto;
    }

    .selo-2 {
        position: relative;
        margin-right: 10rem;
    }

    .selo-3 {
        position: relative;
        top: -7vw;
        right: 10rem;
    }


}

