footer {
    height: auto;
}

.selos-container {
    background-color: #155559;
    display: flex;
    align-items: center;
    padding: 5vw;
    
}

.endereco {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    padding: 2rem;
    font-weight: 400;
    line-height: 1.6875rem;
}

.redes-container {
    padding: 0 2rem;
    justify-content: space-between;
}

.insta {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.insta:hover, 
.linkedin:hover {
    color: #A4A929;
}

.linkedin {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    padding-left: 2.5rem;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.selo-logo img {
    max-width:20vw;
    max-height:15vh;
    width: auto;
    height: auto;
    margin-right: 38vw;
}

.carbono {
    display: flex;
}

.selo-2 {
    padding: 4vw;
}

.selo-3 {
    position: relative;
    top: 4.8rem;
}

@media screen and (max-width: 768px) {
    .selos-container {
        width: 100vw;
        height: 100vh;
        padding: 2.5rem 0;
        display: block;
    }

    .endereco {
        font-size: 1rem;
        line-height: 2rem;
        width: 80%;
    }

    .insta,
    .linkedin {
        font-size: 1rem;
    }

    .selo-logo img {
        padding: 0 2rem;
        max-width: 55vw;
        max-height: 68vh;
        width: auto;
        height: auto;
    }

    .carbono {
        display: flex;
        padding: 5rem 1.5rem;
        gap: 2rem;
    }

    .selo-3 {
        top: 1rem;
    }

}

