@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    padding: 0;
}
header {
    font-family: comfortaa;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#btn-mobile {
    display: none;
}

.box {
    position: fixed;
    width: 100%;
    height: 11vh;
    flex-shrink: 1;
    border-radius: 0% 0% 100px 0%;
    background: rgba(21, 85, 89, 0.4);
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
    z-index: 1000;
    }

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42vw;
}

.header-texto {
    z-index: 2;
}

.logo {
    margin-left: 180px;
    z-index: 2;
}

.lista {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.botao {
    color: #8FAB71;
    font-family: Comfortaa;
    font-size: 30px;
    font-style: normal;
    font-weight: 400px;
    line-height: 135%;
}

.botao:hover {
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:  0 0 0;
}

@media screen and (max-width: 768px) {
    #btn-mobile{
        display: flex;
        padding: .05rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .05rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
        color: #fff;
        z-index: 1002;
    }

    #hamburger::after, #hamburger::before {
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #menu {
        display: block !important;
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
        right: 0;
        padding: 0 1rem;
        transition: .6s;
        background: #155459;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

    }

    #nav.active #menu {
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #menu a {
        justify-content: center;
        /* padding: 0 5rem; */
        margin-left: 9.8rem;
        gap: 1rem;
    }

    li:first-child {
        padding-top: 20rem;
    }

    li {
        line-height: .05rem;
        padding: 1rem 0;
    }

    .box { 
        width: 100vw;
        }

    /* .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    } */

    img {
        width: 30vw;
        height: auto;
    }

    .logo {
        align-items: center;
        justify-content: center;
        margin: 0 3rem; 
    }
}

