@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    overflow-x: hidden;
}

::selection {
    background-color: #A4A929;
}

.highlight::selection {
    background-color: #A4A929;
}


.imagem-container {
    padding-top: 80px;
}



.imagem-servico {
    position: absolute;
    background-color: #A4A929;
    z-index: -1;
}

.titulo {
    color: #fff;
    
    padding: 120px 190px;
    top: -23rem;

    font-family: comfortaa;
    font-size: 3vw;

    z-index: 2;
}

.titulo3 {
    color: #fff;
    
    padding: 120px 184px;

    font-family: comfortaa;
    font-size: 3vw;

    z-index: 2;
}


.background {
    position: absolute;
    top: 5rem;
    width: 50rem;
    height: 23.8rem;
    flex-shrink: 0;
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 0rem 0rem 0rem 6.25rem;
    
    z-index: -1;
}

.background2 {
    position: absolute;
    width: 55rem;
    height: 23.75rem;
    flex-shrink: 0;
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 0rem 0rem 0rem 6.25rem;

    z-index: -1;

}

.background3 {
    width: 74vw;
}

.background4 {
    width: 45vw;
}

.texto-container {
    align-items: center;
    justify-content: center;
    padding: 6.75rem 11.53rem 3rem;
}

.texto {
    width: 62vw;

    color: #155559;
    font-family: Comfortaa;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height:  2.53125rem;
}

.botao-servicos {
    font-family: comfortaa;
    font-size: 2vw;
    padding: 0.5625rem 4.875rem;
    margin: 5vw 0;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 0.625rem;
    border-radius: 5rem;
    color: #fff;
    background: #A4A929;
    cursor: pointer;
}

.botao-servicos:hover {
    background-color: #155559;
}


footer {
    position: relative;
    
    width: 100vw;
    height: 60vh;
}
.selos-container {
    background-color: #155559;
    display: flex;
    align-items: center;
    
    margin: 0;
    padding: 5vw;
    
}

.endereco {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    padding: 2rem;
    font-weight: 400;
    line-height: 1.6875rem;
}

.redes-container {
    padding: 0 2rem;
    justify-content: space-between;
}

.insta {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.insta:hover, 
.linkedin:hover {
    color: #A4A929;
}

.linkedin {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    padding-left: 2.5rem;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.selo-logo img {
    max-width:20vw;
    max-height:15vh;
    width: auto;
    height: auto;
    margin-right: 38vw;
}

.carbono {
    display: flex;
}

.selo-2 {
    padding: 4vw;
}

.selo-3 {
    position: relative;
    top: 3.8rem;
}

@media screen and (max-width: 768px) {
    header,
    main,
    footer {
        overflow-x: hidden;
    }

    footer {
        overflow-y: hidden;
        height: 75vh;
    }
    
    .imagem-container {
        padding-top: 5.6rem;
    }

    .imagem-servico {
        width: 100vw;
        height: 25vh;
    }

    .background {
        top: 5.6rem;
        width:70vw;
        height: 25vh;
        border-radius: 0 0 0 1.5rem;
    }

    .background2 {
        width: 90vw;
        height: 25vh;
        border-radius: 0 0 0 1.5rem;
    }

    .titulo {
        padding: 4.5rem 3rem;
        font-size: 1.5rem;
    }

    .titulo3 {
        padding: 3rem;
        font-size: 1.5rem;
    }

    .texto-container {
        padding: 3rem;
    }

    .texto {
        width: 80vw;
        line-height: 1.8rem;
    }

    .selos-container {
        width: 100vw;
        height: 100vh;
        padding: 2.5rem;
        display: block;
    }

    .endereco {
        font-size: 1rem;
        line-height: 2rem;
        width: 80%;
    }

    .insta,
    .linkedin {
        font-size: 1rem;
    }

    .selo-logo img {
        padding: 0 2rem;
        max-width: 55vw;
        max-height: 68vh;
        width: auto;
        height: auto;
    }

    .carbono {
        display: flex;
        padding-top: 1rem;
        gap: 2rem;
    }

    .selo-3 {
        top: 1rem;
    }

    .botao-servicos {
        font-size: 1.5rem;
    }
   
}