body {
    background: linear-gradient(to right,#A6A926, #26A1A9);
    color: #fff;
    font-family: comfortaa;
    overflow-x: hidden;
}

::selection {
    background-color: #A4A929;
}

.highlight::selection {
    background-color: #A4A929;
}

a {
    text-decoration: none;
}

.sobreNos {
    padding: 10vw 9vw 3vw;
    font-size: 3.5vw;
    color: #fff;
}

.foto-sobreNos {
    position: absolute;
    width: 30%;
    height: 760px;
    left: 58vw;
    top: 18vw;
    z-index: -1;
    
}

.container-sobreNos {
    flex-direction: row-reverse;
}

.texto-principal {
    margin: 0;
    padding: 1vw 9vw;
    width: 45vw;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
}

.saiba-mais {
    position: absolute;
    font-family: comfortaa;
    font-size: 2.5rem;
    color: #FFF;
    display: flex;
    width: 20vw;
    height: 37vh;
    padding: 4rem 8rem;
    margin-left: 48vw;
    top: 0.01vw;
    justify-content: center;
    align-items: center;
    gap: 0 8vw;
    flex-shrink: 0;
    border-radius: 0rem 0rem 6.25rem 0rem;
    background: #A4A929;
    border: none;
    cursor: pointer;
}

.saiba-mais:hover {
    background-color: #155559;
}

.chamada-container {
    position: absolute;
    top: 70rem;
    margin: 5vw 9vw;
    width: 48vw;
    height: 37vh;
    background: linear-gradient(90deg, #26A1A9 0%, #A6A926 100%);

}

.texto-chamada {
    position: relative;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;   
    margin: 4.5vw 3vw;

    z-index: 2;
}

/* footer  */

footer {
    position: relative;
    top: 100vh;
    height: auto;
}
.selos-container {
    background-color: #155559;
    display: flex;
    align-items: center;
    
    margin: 0;
    padding: 5vw;
    
}

.endereco {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    padding: 2rem;
    font-weight: 400;
    line-height: 1.6875rem;
}

.redes-container {
    padding: 0 2rem;
    justify-content: space-between;
}

.insta {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.insta:hover, 
.linkedin:hover {
    color: #A4A929;
}

.linkedin {
    color: #FFF;
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    padding-left: 2.5rem;
    line-height: 1.6875rem;
    text-decoration-line: underline;
}

.selo-logo img {
    max-width:20vw;
    max-height:15vh;
    width: auto;
    height: auto;
    margin-right: 38vw;
}

.carbono {
    display: flex;
}

.selo-2 {
    padding: 4vw;
}

.selo-3 {
    position: relative;
    top: 4.8rem;
}


@media screen and (max-width: 768px) {
    header,
    main,
    footer {
        overflow-x: hidden;
    }

    footer {
        overflow-y: hidden;
        height: 75vh;
    }
    

    .sobreNos {
        padding-top: 8rem;
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .container-sobreNos {
        display: flex;
        flex-direction: column;
    }

    .foto-sobreNos {
        display: none !important;
    }

    .texto-principal {
        width: 80vw;
    }

    .chamada-container {
        position: relative !important;
        top: 5rem;
        width: 80vw;
        height: 28vh;
    }
    .texto-chamada {
        font-size: 1.3rem;
        width: 75vw;
        padding: 2.5rem 1.5rem;
    }

    .saiba-mais {
        top: 20rem;
        margin: 0;
        width: 80vw;
        height: 20vh;
        background-color: #155559;
        font-size: 1.3rem;
    }

    .selos-container {
        width: 100vw;
        height: 100vh;
        padding: 2.5rem;
        display: block;
    }

    .endereco {
        font-size: 1rem;
        line-height: 2rem;
        width: 80%;
    }

    .insta,
    .linkedin {
        font-size: 1rem;
    }

    .selo-logo img {
        padding: 0 2rem;
        max-width: 55vw;
        max-height: 68vh;
        width: auto;
        height: auto;
    }

    .carbono {
        display: flex;
        padding-top: 1rem;
        gap: 2rem;
    }

    .selo-3 {
        top: 1rem;
    }
}

