@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #A4A929;
}

.highlight::selection {
    background-color: #A4A929;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border-radius: 0% 0% 0% 241px;
}



span {
    font-weight: bold;
    background-image: linear-gradient(to right,#A6A926, #26A1A9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-box {
    padding-top: 5rem;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.texto {
    padding-top: 8vw;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start,;
    gap: 40px;
    margin-left: 185.92px;
}


.main-texto {
    margin: 0;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    
}

.paragrafo {
    margin: 0;
    font-size: 2.8vw;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    
}

.sobre {
    height: 140vh;
}

svg {
    position: relative;
    width: 40vw;
    flex-shrink: 0;

    display: flex;
    justify-content: end;
    /* height: auto; */
    top: 43vw;
    left: 58rem;

    z-index: -3;
}

.container-sobre {
    /* padding-top: 5em; */
    position: relative;
    margin: 0;
    top: -50rem;
    padding: 15vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: end;
    /* font-size: 75rem; */
}

.box_sobre {
    top: 800px;
    padding: 8vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: end;
    font-size: 5rem;
    gap: 30px;
}

.titulo-sobre {
    margin: 0;
    color: #155559;
    font-family: Comfortaa;
    font-style: normal;
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 135%;
}

.texto-sobre {
    margin: 0;
    color: #155559;
    font-family: Comfortaa;
    font-size: 1.5vw;
    font-style: normal;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
}

.botao-sobre {
    color: #fff;
    display: inline-flex;
    padding: 1vw 3vw;
    align-items: flex-start;
    gap: 10px;
    border-radius: 80px;
    background: #A4A929;
    border: none;

    cursor: pointer;
    font-family: Comfortaa;
    font-size: 2vw;
}

.botao-sobre:hover {
    background: #155559;
}

/* SERVICOS */

.servicos {
    position: inherit;
    height: 100%;
    width: 100vw;
    padding-top: 0.5rem;
    background: linear-gradient(180deg, #FFF 50%, #47A388 100%);
}

.container-servicos {
    height: 100%;
}

.titulo-servicos {
    color: #155559;
    font-family: Comfortaa;
    font-size: 3.5vw;
    padding: 8rem 10rem 5rem 12rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 47.25px;
}

/* Cards Section */

.section__cards {
    width: 100%;
    height: auto;
    text-align: center;
}



.card-container {
    position: relative;
    display: inline-block;
    margin: 0 1rem 12rem 1rem;
    min-width: 280px;
    max-width: 300px;
    width: 80%;
    object-fit: contain;
    text-align: center;
}

.servico-cards {
    position: relative;
    width: 95%;
    top: 24px;
    right: 24px;
    bottom: 24px;
    /* left: 24px; */
    /* top: 100%; */
    content: "";
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    border-radius: 0 0 105px;
}

.titulo-card {
    font-family: comfortaa;
    color: #FFF;
    position: absolute;
    display: flex;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    left: 1.5vw;
    /* padding-top: -40px; */
    top: 2vw;



}

.fundo {
    position: absolute;
    display: flex;
    font-weight: 400;
    text-align: left;
    left: 10px;
    /* padding-top: -40px; */
    top: 60px;
    width: 80%;
    height: 50vh;
    border-radius: 0 0 105px;

    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
}

.botao-card {
    position: absolute;
    font-size: 1rem;
    font-family: comfortaa;
    color: #FFF;
    background-color: #A6A926;
    border: none;
    border-radius: 80px;
    width: 10vw;
    height: 5vh;
    top: 22vw;
    right: 7rem;
    cursor: pointer;
}

.botao-card:hover {
    background-color: #155559;
}

