@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #A4A929;
}

.highlight::selection {
    background-color: #A4A929;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border-radius: 0% 0% 0% 241px;
}



span {
    font-weight: bold;
    background-image: linear-gradient(to right,#A6A926, #26A1A9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-box {
    padding-top: 5rem;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.texto {
    padding-top: 8vw;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start,;
    gap: 40px;
    margin-left: 185.92px;
}


.main-texto {
    margin: 0;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    
}

.paragrafo {
    margin: 0;
    font-size: 2.8vw;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    
}

.sobre {
    height: 140vh;
}

svg {
    position: relative;
    width: 40vw;
    flex-shrink: 0;

    display: flex;
    justify-content: end;
    /* height: auto; */
    top: 43vw;
    left: 58rem;

    z-index: -3;
}

.container-sobre {
    /* padding-top: 5em; */
    position: relative;
    margin: 0;
    top: -50rem;
    padding: 15vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: end;
    /* font-size: 75rem; */
}

.box_sobre {
    top: 800px;
    padding: 8vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: end;
    font-size: 5rem;
    gap: 30px;
}

.titulo-sobre {
    margin: 0;
    color: #155559;
    font-family: Comfortaa;
    font-style: normal;
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 135%;
}

.texto-sobre {
    margin: 0;
    color: #155559;
    font-family: Comfortaa;
    font-size: 1.5vw;
    font-style: normal;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2vw;
}

.botao-sobre {
    color: #fff;
    display: inline-flex;
    padding: 1vw 3vw;
    align-items: flex-start;
    gap: 10px;
    border-radius: 80px;
    background: #A4A929;
    border: none;

    cursor: pointer;
    font-family: Comfortaa;
    font-size: 2vw;
}

.botao-sobre:hover {
    background: #155559;
}

/* SERVICOS */

.servicos {
    position: inherit;
    height: 100%;
    width: 100vw;
    padding-top: 0.5rem;
    background: linear-gradient(180deg, #FFF 50%, #47A388 100%);
}

.container-servicos {
    height: 100%;
}

.titulo-servicos {
    color: #155559;
    font-family: Comfortaa;
    font-size: 3.5vw;
    padding: 8rem 10rem 5rem 12rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 47.25px;
}

/* Cards Section */

.section__cards {
    width: 100%;
    height: auto;
    text-align: center;
}

.figure__card {
    position: relative;
    display: inline-block;
    margin: 2rem;
    /* min-width: 230px;
    max-width: 315px; */
    width: 30vw;
    height: 30vh;
    text-align: center;
    -webkit-box-shadow: 0 10px 32px rgba(27, 31, 30, .15);
            box-shadow: 0 10px 32px rgba(27, 31, 30, .15);
    border-radius: 0% 0% 105px; 
}

.figure__card * {
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.figure__card:before {
    position: absolute;
    top: 24px;
    right: 24px;
    bottom: 24px;
    left: 24px;
    top: 100%;
    content: "";
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    border-radius: 0 0 105px;
    /* -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    -webkit-transition-delay: .25s;
         -o-transition-delay: .25s;
            transition-delay: .25s; */
    z-index: 5;
}

.figure__card--image {
    vertical-align: top;
    max-width: 100%;
    /* -webkit-backface-visibility: hidden;
            backface-visibility: hidden; */
    z-index: 100;
}

.figure__card--caption {
    position: absolute;
    top: -20px;
    right: 0;
    bottom: 0;
    left: -25px;
    z-index: 10;
    padding: 4.8rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
        -ms-flex-direction: column;
            flex-direction: column;
    /* -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center; */
            /* justify-content: center; */
}

.figure__card--caption h3, 
.figure__card--caption h5 {
    opacity: 0;
}

.figure__card--caption h3 {
    /* -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition-delay: .05s;
         -o-transition-delay: .05s;
            transition-delay: .05s; */
    color: #efefef;
}

.titulo-cards {
    display: flex;
    font-family: comfortaa;
    font-size: 3.5vw;
    font-weight: 400;
    text-align: left;
    left: 40.93px;
    padding-top: -40px;
}

.figure__card--tag {
    font-family: comfortaa;
    text-align: center;
    background: #A4A929;
    height: 25px;
    font-size: 20px;
    border-radius: 80px;
    color: #efefef;
    padding: .6rem 1.2rem;
    margin-bottom: 1.4rem;
    /* -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s; */
}

.figure__card--tag.event {
    margin-top: 130px;
}

.figure__card--tag.event2 {
    margin-top: 130px;
}

.figure__card--tag.event3 {
    margin-top: 63px;
}

.figure__card--tag.event4 {
    margin-top: 160px;
}

/* .figure__card:hover h3, 
.figure__card:hover h5 {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.figure__card--caption:hover h3 {
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
}

.figure__card--caption:hover h5 {
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
} */

.figure__card a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

/* .figure__card:hover .figure__card--image {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
} */

.figure__card:hover:before {
    top: 24px;
    /* -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s; */
}


.card-container {
    position: relative;
    display: inline-block;
    margin: 0 1rem 8rem 1rem;
    min-width: 280px;
    max-width: 300px;
    width: 80%;
    object-fit: contain;
    text-align: center;
}

.servico-cards {
    position: relative;
    width: 95%;
    top: 24px;
    right: 24px;
    bottom: 24px;
    /* left: 24px; */
    /* top: 100%; */
    content: "";
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    border-radius: 0 0 105px;
}

.titulo-card {
    font-family: comfortaa;
    color: #FFF;
    position: absolute;
    display: flex;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    left: 1.5vw;
    /* padding-top: -40px; */
    top: 2vw;



}

.fundo {
    position: absolute;
    display: flex;
    font-weight: 400;
    text-align: left;
    left: 10px;
    /* padding-top: -40px; */
    top: 60px;
    width: 80%;
    height: 50vh;
    border-radius: 0 0 105px;

    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
}

.botao-card {
    position: absolute;
    font-size: 1rem;
    font-family: comfortaa;
    color: #FFF;
    background-color: #A6A926;
    border: none;
    border-radius: 80px;
    width: 10vw;
    height: 5vh;
    top: 22vw;
    right: 7rem;
    cursor: pointer;
}

.botao-card:hover {
    background-color: #155559;
}

