@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #A4A929;
}

.highlight::selection {
    background-color: #A4A929;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    border-radius: 0% 0% 0% 241px;
}



span {
    font-weight: bold;
    background-image: linear-gradient(to right,#A6A926, #26A1A9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-box {
    padding-top: 5rem;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.texto {
    padding-top: 8vw;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start,;
    gap: 40px;
    margin-left: 11rem;
}


.main-texto {
    margin: 0;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    
}

.paragrafo {
    margin: 0;
    font-size: 2.8vw;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    
}

.sobre {
    height: 100%;
}

svg {
    position: relative;
    width: 40vw;
    flex-shrink: 0;

    display: flex;
    justify-content: end;
    /* height: auto; */
    top: 36vw;
    left: 61rem;

    z-index: -3;
}

.container-sobre {
    position: relative;
    margin: 0;
    top: -25rem;
    padding: 0 9vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: end;
}

.box_sobre {
    top: 800px;
    /* padding: 8vw 3vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: end;
    font-size: 5rem;
    gap: 30px;
}

.titulo-sobre {
    margin: 0;
    color: #155559;
    font-family: Comfortaa;
    font-style: normal;
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 135%;
}

.texto-sobre {
    margin: 0;
    color: #155559;
    font-family: Comfortaa;
    font-size: 1.5vw;
    font-style: normal;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
}

.botao-sobre {
    color: #fff;
    display: inline-flex;
    padding: 1vw 3vw;
    align-items: flex-start;
    gap: 10px;
    border-radius: 80px;
    background: #A4A929;
    border: none;

    cursor: pointer;
    font-family: Comfortaa;
    font-size: 2vw;
}

.botao-sobre:hover {
    background: #155559;
}

/* SERVICOS */

.servicos {
    position: inherit;
    height: 100%;
    width: 100vw;

}

.bg-card {
    background: linear-gradient(180deg, #FFF 50%, #47A388 100%);
}

.container-servicos {
    height: 100%;
}

.titulo-servicos {
    color: #155559;
    font-family: Comfortaa;
    font-size: 3.5vw;
    padding: 0 10rem 5rem 12rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 47.25px;
}

/* Cards Section */

.section__cards {
    width: 100%;
    height: auto;
    text-align: center;
}



.card-container {
    position: relative;
    display: inline-block;
    margin: 0 1rem 12rem 1rem;
    min-width: 280px;
    max-width: 300px;
    width: 100%;
    object-fit: contain;
    text-align: center;
}

.servico-cards {
    position: relative;
    width: 95%;
    top: 24px;
    right: 24px;
    bottom: 24px;
    content: "";
    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    border-radius: 0 0 105px;
}

.titulo-card {
    font-family: comfortaa;
    color: #FFF;
    position: absolute;
    display: flex;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    left: 1.5vw;
    /* padding-top: -40px; */
    top: 2vw;



}

.fundo {
    position: absolute;
    display: flex;
    font-weight: 400;
    text-align: left;
    left: 10px;
    /* padding-top: -40px; */
    top: 60px;
    width: 80%;
    height: 22rem;
    border-radius: 0 0 105px;

    fill: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.botao-card {
    position: absolute;
    font-size: 1rem;
    font-family: comfortaa;
    color: #FFF;
    background-color: #A6A926;
    border: none;
    border-radius: 80px;
    width: 10rem;
    height: 2.5rem;
    top: 20rem;
    right: 6.5rem;
    cursor: pointer;
}

.botao-card:hover {
    background-color: #155559;
}

@media screen and (max-width: 768px) {  
    header,
    main,
    footer {
        overflow-x: hidden;
    }

    footer {
        overflow-y: hidden;
    }
    
    .texto {
        margin: 3rem;
        gap: 0;
    }

    .main-texto {
        /* padding-top: 2.5rem; */
        font-size: 2rem;
        margin: 0;
    }

    svg {
        display: none;
    }

    .container-sobre {
        top: 10rem;
        padding: 4rem;
        margin: 0;
    }

    .titulo-sobre {
        font-size: 2.5rem;
        line-height: 2.8rem;
        width: 80vw;
    }

    .titulo-servicos {
        font-size: 2.5rem;
        line-height: 2.8rem;
        padding: 0 5rem;
        width: 75vw;
        top: -20rem;
    }

    .box_sobre {
        gap: 3rem;
    }

    .texto-sobre {
        width: 80vw;
        height: auto 18rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .botao-sobre {
        width: 15rem;
        font-size: 2rem;
        padding: 1rem 1.5rem;
    }

    .servicos {
        width: 100vw;
        /* position: relative; */
        top: 28rem;
        margin-top: 12rem;
    }

    .section__cards {
       display: flex;
       flex-direction: column;
       margin: 0;
       width: 100vw;
    }

    .card-container {
        padding: 0 5rem;
        margin: 0;
        min-width: 280px;
        max-width: 380px;
        width: 25vw;
        height: 80vh;
    }

    .titulo-card {
        width: 90%;
        top: 2rem;
        font-size: 1.5rem;
    }

    .fundo {
        height: 58vh;
        width: 55vw;
        top: 3rem;
        left: 5rem;

        /* display: none; */
    }

    .botao-card {
        font-size: 1.5rem;
        width: 40vw;
        height: 5vh;
        left: 6rem;
    }

}

